.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.hero img{
	padding:10px;
	width:50%;
	height:50%;
	object-fit:cover;
}
.hero-content{
	padding:10px;
	background-color:mediumaquamarine;
	color:white;
	border-radius:10px;
	width:50%;
	height:50%;
	text-align:center;
}